<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    {{ message }}<br><br>
    <b>Bot:</b>
    <text>{% for res in response %}
            {{res}}<br><br>
    {% endfor %}</text>
    <form action="" method="post">
        <div class="main">
            <input type="text" id="msg" name="msg" placeholder="Type a message">
            <button type="submit" class="submit" id="submit">Send</button>
        </div>
    </form>
    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
</body>
</html>